.instantgram-modal-overlay {
    display: none !important;
    opacity: 0 !important;
    transition: all ease 100ms !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 1000 !important;
    background: rgba(0, 0, 0, 0.65) !important;
    justify-content: center !important;
    align-items: center !important;
}

.instantgram-modal {
    transition: width ease-in-out 100ms !important;
    display: inline-block !important;
    width: 400px !important;
    padding: 1.6px !important;
    z-index: 1001 !important;
}

.instantgram-modal {
    transition: width ease-in-out 100ms;
    display: inline-block;
    width: 400px;
    padding: 1rem;
    z-index: 1001;

    select {
        margin-left: 0.8px !important;
        border: solid 1px #dbdbdb !important;
        border-radius: 3px !important;
        color: #262626 !important;
        outline: 0 !important;
        padding: 3px !important;
        text-align: center !important;
    }
}

@media (min-width: 736px) {
    .instantgram-modal {
        width: 500px !important;
    }
}

.instantgram-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    pointer-events: auto !important;
    background-clip: padding-box !important;
    outline: 0 !important;
}

.instantgram-modal-header {
    color: #fff !important;
    background-color: #fd1d1d !important;
    background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d) !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    padding: 0 16px 0 16px !important;

    h5 {
        color: #fff !important;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 16px !important;
        margin: revert !important;

        :nth-child(2) {
            margin-top: -15px !important;
            margin-bottom: 20px !important;
        }
    }
}

.instantgram-modal-body {
    background: white !important;
    position: relative !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 16px !important;

    p {
        display: block !important;
        margin: revert !important;
        margin-block-start: 1em !important;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 16px !important;
    }
}

.instantgram-modal-footer {
    background-color: white !important;
    border-top: 1px solid #dbdbdb !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    line-height: 1.5 !important;
    min-height: 48px !important;
    padding: 4px 8px !important;
    user-select: none !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: center !important;

    button {
        width: 100% !important;
        min-height: 39px !important;
        background-color: transparent !important;
        border: 0 !important;
        outline: 0 !important;
        cursor: pointer !important;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 16px !important;

        &.active {
            color: #0095e2 !important;
        }
    }
}

.instantgram-modal-show {
    opacity: 1 !important;
}

.instantgram-modal-visible {
    display: flex !important;
}

#instantgram-bulk-download-indicator {
    text-align: center !important;
}
